name: Create a release when a pull request on master is closed

on:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Create Release
        uses: Makepad-fr/auto-release-on-version-bump-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
